@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300&display=swap');

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: $black;
}

p, button, i, input, .srt_container {
  font-family: 'Poppins', sans-serif;
}

h1 {
  @include margin(4, 0);
  font-size: $grid * 6px;
  @include tablet {
    font-size: $grid * 7px;
  }
  @include desktop {
    font-size: $grid * 8px;
  }
}

h2 {
  @include margin(2, 0);
  font-size: $grid * 5px;
}

h3 {
  @include margin(1, 0);
  font-size: $grid * 3px;
}